
Debug/ExactPatch.png
Debug/LargePatch.png
Debug/SmallPatch.png
Debug/tumor.tif
.vs/bigtiff/v15/.suo
.vs/bigtiff/v15/Browse.VC.db
.vs/bigtiff/v15/Browse.VC.opendb
.vs/bigtiff/v15/ipch/AutoPCH/43b82a1bd4da437c/SPATIALMAP.ipch
.vs/bigtiff/v15/ipch/AutoPCH/468700408b203ccd/ADAPTER_.ipch
.vs/bigtiff/v15/ipch/AutoPCH/518910ef3958719c/SPATIALMAP_.ipch
.vs/bigtiff/v15/ipch/AutoPCH/7dded92de3759ad/ADAPTER.ipch
.vs/bigtiff/v15/ipch/AutoPCH/8fce6d0df5247596/TIF_UNIX.ipch
.vs/bigtiff/v15/ipch/AutoPCH/e6b40bac02ab786b/BIGTIFF.ipch
.vs/bigtiff/v15/Solution.VC.db
.vs/bigtiff/v15/Solution.VC.db-shm
.vs/bigtiff/v15/Solution.VC.db-wal
.vs/bigtiff/v15/.suo
.vs/bigtiff/v15/Browse.VC.db
.vs/bigtiff/v15/Solution.VC.db
